# Build output
build/
*.elf
*.bin
*.hex
*.map
*.o
*.a

# Debug files
*.lst
*.d
*.su
*.dep

# VSCode
.vscode/
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
!.vscode/tasks.json
!.vscode/launch.json

# Unity
unity/
unity/*

# OS junk
.DS_Store
Thumbs.db

# Logs
*.log

# Vim Temporary / backup files
*~
*.swp
*.swo
